body, html {
 margin:0;
 padding:0;
 width:100%;
 height:100%;
  list-style-type:none;
} 

body {
  background: #e2dedb;
  line-height:.5em;
  overflow-x: hidden;
  overflow-y: scroll;
  
}

header{
	padding:.5em;
	margin-top:0;
	background-color:#292524;
}

header h1{
	font-size:3.5em;
	font-family:"Brush Script MT";
	margin-top:.6em;
	margin-left:.3em;
	float:left;
	color:white;
	}
	
	
li .login{
	list-style-type:none;
	padding-right:12px;
	float:right;
	text-decoration:none;
	color:white;
	font-size:.8em;
	font-family:"Roman Times";
}

p{
	text-align:justify;
}

header nav{
	margin-top:2em;
}

header nav ul {
    padding:.5em;
	
}	

header nav ul li{
	display:inline-block;
	float:right;
	text-align:right;
	font-weight:bold;
	font-family:"Brush Script MT";
	font-size:1.3em;
}

header nav ul li a{
	display: inline-block;
    color: white;
    text-align: center;
    padding: .6em 1em;
    text-decoration: none;
}

header nav ul li:hover{
	background-color:grey;
}

.active{
	background-color:darkgrey; 	 
}

.line{
	position:relative;
	padding-top:3.2em;
	margin-right:89%;
	background-image: url(../image/line.png);
	background-repeat:repeat-x;
	background-position: left bottom;
}



.bottom{
	display:inline-block;
	padding:2em 2em;
	width:100%;
	height:10%;
	position:relative;
	background-color:#292524;
}

.bottom a img{
	height:5em;
}
